
<div class="view">
    <view-title text="{{title}}"></view-title>
    <div ng-repeat="person in teamData" class="col col-md-6 up" ng-class="{'left' : $index % 2 === 0, 'right' : $index % 2 === 1}">
        <p>
            Tekst tekst teskt
        </p>
<!--        <table>
            <thead>
            <th ng-if="$index % 2 === 1"></th>
            <th>    
                {{person.firstName + " \"" + person.pseudo + "\" " + person.lastName}} 

            </th>
            <th ng-if="$index % 2 === 0" ></th>
            </thead>
            <tr>
                <td>W drużynie od: </td>
                <td>{{person.data.fromDate| date}}</td>
            </tr>

            <tr>
                <td>Z ogniem za pan brat od</td>
                <td>{{person.data.firstFire| date}}</td>
            </tr>
            <tr>
                <td>Wiek</td>
                <td>{{person.data.bornYear}}</td>
            </tr>
            <tr>
                <td>Rekwizyty</td>
                <td>
                    <ul ng-repeat="staff in person.data.staff">
                        <li>{{staff}}</li>
                    </ul>
            </tr>
            <tr>
                <td>Zawód</td>
                <td>{{person.data.profession}}</td>
            </tr>     
            <tr>
                <td>Preferowany styl</td>
                <td>{{person.data.preferedStyle}}</td>
            </tr>      
            <tr>
                <td>Foto</td>
                                    <td>
                                        <img src="{{'/FenixFlow/assets/data/foto/team//' + person.data.imageName}}" width="100%"  alt=" {{'/assets/data/foto/team//' + person.imageName}}" />
                                    </td>
            </tr>    
        </table>-->
    
</div>